@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Balsamiq+Sans&display=swap');

.si-container {
    animation-name: fade;
    animation-duration: 1s;
    margin: 0;
    font-family: Arvo, sans-serif;
    padding: 15px 60px;
    display: grid;
    color: whitesmoke;
    background: radial-gradient(rgba(190, 132, 76, 0.7), rgba(190, 132, 76, 0.8), rgba(190, 132, 76, 0.9));
    text-align: center;
    max-width: 280px;
    align-self: center;
    grid-row: 1/3;
    justify-self: end;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

@keyframes fade {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

.si-header {
    margin: 0;
    margin-bottom: 10px;
}

.si-form-header {
    color: whitesmoke;
    margin: 0;
    padding: 10px;
}

.si-form-input {
    justify-self: center;
    width: 70%;
    text-align: center;
    font-size: 16px;
    border: none;
    border-bottom: 1.5px solid black;
    background: none;
    margin-bottom: 5px;
}

.si-form-input:focus {
    outline: none;
}

.si-form-input:focus::placeholder {
    color: transparent;
}

.si-form-input::placeholder {
    color: rgba(50,50,50,0.3);
    font-size: 14px;
}

.si-form-button {
    color: whitesmoke;
    margin-top: 20px;
    background:rgba(190, 132, 76, 1);
    padding: 10px 5px;
    width: 50%;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.si-form-button:focus {
    outline: none;
}

.si-form-button:hover {
    background: rgb(161, 108, 58);
    cursor: pointer;
}

.si-form-button:active {
    transform: scale(0.9, 0.9);
}

.si-form-bottom-text-container {
    margin-top: 15px;
    padding: 2px;
}

.si-form-bottom-text {
    margin: 0;
}

.si-form-register {
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

.si-form-register:active {
    transform: scale(0.97, 0.97);
}